/oxford-iiit-pet.tar
/oxford-iiit-pet/
/.ipynb_checkpoints/
/.idea/
/__pycache__/
/NotMyModels/TestingPytorchTransferLearning.ipynb
/NotMyModels/
/SavedModels/
/playwithpytorch/TrainedModels/
/playwithpytorch/__pycache__/
